<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.springmvc.mapper.BbsMapper">
    <select id="listAll" parameterType="int" resultType="org.fullstack4.springmvc.domain.BbsVO">
        select idx,user_id,title,content,display_date,reg_date,modify_date,read_cnt,interest
        FROM tbl_bbs
        ORDER BY idx DESC
        LIMIT #{param1},#{param2}
    </select>

    <select id="BbsView"  resultType="org.fullstack4.springmvc.domain.BbsVO">
        select idx,user_id,title,content,display_date,reg_date,modify_date,read_cnt,interest
        FROM tbl_bbs
        where idx=#{idx}

    </select>

    <insert id="regist">
        insert into tbl_bbs(user_id,title,content,display_date,interest,reg_date) values (#{user_id},#{title},#{content},#{display_date},#{interest},NOW())
    </insert>
    <delete id="delete">
        delete from tbl_bbs where idx=${idx}
    </delete>
    <update id="Modify">
        UPDATE tbl_bbs SET user_id = #{user_id}
                           ,title = #{title}
                           ,content = #{content}
                           ,display_date = #{display_date}
                           ,modify_date = NOW()
                           ,interest = #{interest}
        WHERE idx = #{idx}
    </update>
    <select id="totalcount" resultType="int">
        select COUNT(*) FROM tbl_bbs
    </select>
</mapper>